body {
background-color: #e0f5f5;
font-family: "Trebuchet MS", sans-serif;
margin: 0;
padding: 0;
}
#container {
width: 850px;
margin: 20px auto;
background-color: #f9ffff;
border: 2px solid #a4c6c6;
padding: 15px;
}
header {
background-color: #b3e0e0;
text-align: center;
padding: 15px 0;
border-bottom: 3px solid #88b8b8;
}
header h1 {
color: #116666;
font-weight: bold;
margin: 0;
}
header p {
color: #339999;
margin: 0;
font-style: italic;
}
#sidebar {
float: left;
width: 25%;
background-color: #d6f0f0;
padding: 10px;
border: 2px solid #9ccccc;
box-sizing: border-box;
}
#sidebar h3 {
color: #005f5f;
border-bottom: 1px solid #88b8b8;
}
#sidebar ul {
list-style-type: square;
padding-left: 20px;
}
#sidebar li {
margin-bottom: 5px;
}
#content {
float: right;
width: 70%;
box-sizing: border-box;
}
.post {
background-color: #f0fcfc;
border: 2px solid #a2d4d4;
margin-bottom: 15px;
padding: 10px;
}
.post h2 {
color: #007777;
margin-top: 0;
}
.post img {
float: right;
width: 120px;
margin-left: 10px;
border: 1px solid #aaa;
}
footer {
clear: both;
text-align: center;
padding: 10px;
border-top: 2px solid #a4c6c6;
color: #336666;
margin-top: 10px;
}
